<h1>Welcome to <%= @crm_app_name %> </h1>
<p>Main menu</p>
<ul>
  <li><a href="/new">Create new contact</a></li>
  <li><a href="/modify">Modify an existing contact</a></li>
  <li><a href="/delete">delete a contact</a></li>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/search">Search contacts</a></li>
  <li><a href="/delete">delete a contact</a></li>
</ul>
